body{
    background-color: rgb(57, 138, 138);
}

#externalContainer{
    width: 28%;
    /* background:
    linear-gradient(to top right,red, transparent),
    linear-gradient(to top left, yellow, transparent),
    linear-gradient(to top right, blue, transparent);*/
    margin: auto;
    padding-top: 2px;
    background-color: rgb(19, 65, 80);
}

div.scroll {
    margin:4px, 4px;
    padding:4px;
    width: auto;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#heading{
    /* margin-top: 100px; */
    /* margin-bottom: 40px; */
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
    letter-spacing: 2px;
    border: 2px dotted white;
    border-radius: 30px;
}

#contacts{
    margin: 40px;
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c, #561423);
    list-style-type: none;
}

#contacts li{
    background-color: rgb(54, 230, 230);
    height: 80px;
    width: 55%;
    margin: auto;
    text-align: center;
}

.attribute{
    padding-top: 10px;
}

#add_contact{
    padding: 10px;
    margin-left: 28%;
    display: flex;
    flex-direction: column;
}

#add_contact input,button{
    padding: 10px;
    width: 180px;
}

#add_contact button{
    background-color: rgb(159, 157, 157);
}

.delete-contact a{
    position: relative;
    left: 17%;
    overflow: scroll;
}

.delete-contact a button{
    background-color: rgb(159, 157, 157);
}