body{
    background-image: url("https://img.freepik.com/premium-photo/email-marketing-newsletter-concept-contact-us-by-newsletter-email-protect-your-personal-information-from-spam-mail-concept-scheme-direct-sales-business-list-clients-mailing_150455-17502.jpg?w=2000");
}

#externalContainer{
    width: 48%;
    margin: auto;
    padding-top: 2px;
    background-color: #2d2f30;
}

div.scroll {
    margin:4px, 4px;
    padding:4px;
    width: auto;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#heading{
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
    letter-spacing: 2px;
    border: 2px dotted white;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding: 8px;
    margin-top: 8px;
}

#contacts{
    background-color: rgb(41, 86, 84);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contacts li{
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c, #561423);
    height: 100px;
    width: 55%;
    margin: auto;
    text-align: center;
}

.attribute{
    padding-top: 10px;
}

#add_contact{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#add_contact input,button{
    padding: 10px;
}

#add_contact button{
    background-color: #2f3e46;
    color: white;
}

.delete-contact a{
    overflow: scroll;  
}

.delete-contact a button{
    background-color: #2f3e46;
    color: white;

}